networks:
  proxynet:
    name: ${PROXY_NAME}
    external: true

services:
  app:
    container_name: easytank
    image: easytank:1.10.0
    mem_limit: 512m
    pull_policy: build
    restart: always
    environment:
      TRACKING_API_HOST: ${TRACKING_API_HOST}
      GOOGLE_VERIFICATION_ID: ${GOOGLE_VERIFICATION_ID}
      TRACKING_API_KEY: ${TRACKING_API_KEY}
      TANKERKOENIG_API_KEY: ${TANKERKOENIG_API_KEY}
      NOMINATIM_USER_AGENT: ${NOMINATIM_USER_AGENT}
      NEXT_PUBLIC_CONTACT_MAIL: ${NEXT_PUBLIC_CONTACT_MAIL}
      NEXT_PUBLIC_STATUS_URL: ${NEXT_PUBLIC_STATUS_URL}
      NEXT_PUBLIC_RYD_LINK: ${NEXT_PUBLIC_RYD_LINK}
    build:
      context: .
      tags:
        - easytank:1.10.0
        - easytank:latest
    networks:
      - proxynet
