networks:
  proxynet:
    name: ${PROXY_NAME}
    external: true

services:
  app:
    container_name: {IMAGE_NAME}
    image: {IMAGE_NAME}:{IMAGE_VERSION}
    mem_limit: 512m
    pull_policy: build
    restart: always
    build:
      context: .
      tags:
        - {IMAGE_NAME}:{IMAGE_VERSION}
        - {IMAGE_NAME}:latest
      args:
        TRACKING_API_KEY: ${TRACKING_API_KEY}
        TRACKING_API_HOST: ${TRACKING_API_HOST}
        TANKERKOENIG_API_KEY: ${TANKERKOENIG_API_KEY}
        NOMINATIM_USER_AGENT: ${NOMINATIM_USER_AGENT}
        NEXT_PUBLIC_CONTACT_MAIL: ${NEXT_PUBLIC_CONTACT_MAIL}
        NEXT_PUBLIC_STATUS_URL: ${NEXT_PUBLIC_STATUS_URL}
        NEXT_PUBLIC_RYD_LINK: ${NEXT_PUBLIC_RYD_LINK}
        TOLGEE_URL: ${TOLGEE_URL}
        TOLGEE_API_KEY: ${TOLGEE_API_KEY}
    networks:
      - proxynet
