.footer {
    padding: var(--mantine-spacing-xl);
    border-top: rem(1px) solid light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-5));
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: $mantine-breakpoint-xs) {
        flex-direction: column;
        gap: var(--mantine-spacing-md);
    }
}

.links {
    display: flex;
    gap: var(--mantine-spacing-md);
    flex-wrap: wrap;

    @media (max-width: $mantine-breakpoint-xs) {
        justify-content: center;
    }
}
