name: Compilation and Code Linting

on:
  pull_request:
    branches: [ "main", "develop" ]

jobs:
  lint:
    name: Run eslint
    runs-on: ubuntu-latest
    steps:
      - name: Install NodeJS
        uses: actions/setup-node@v6
        with:
          node-version: 24
      - name: Code Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
          persist-credentials: false
      - name: Install Dependencies
        run: yarn install
      - name: Code Linting
        run: yarn lint
